//@theme "/home/yoga/.local/share/rofi/themes/rounded-blue-dark.rasi"
//@theme "/home/yoga/.local/share/rofi/themes/windows11-list-light.rasi"
//@theme "/home/yoga/.local/share/rofi/themes/rounded-gray-dark.rasi"
@theme "/home/yoga/.local/share/rofi/themes/rounded-blue-dark.rasi"
